version: '3.8'

services:
  db1:
    build: .
    command: ./pg_command.sh master
    environment:
      POSTGRES_PASSWORD: adminpass
    volumes:
      - pg1_disk:/var/lib/postgresql/data
      - ./postgresql.conf:/etc/postgresql/postgresql.conf
      - ./repmgr1.conf:/etc/postgresql/repmgr.conf
      - ./initdb.sh:/docker-entrypoint-initdb.d/initdb.sh
      - ./pg_command.sh:/var/lib/postgresql/pg_command.sh
    networks:
      pg_network:
        ipv4_address: 172.16.238.100
  db2:
    build: .
    command: ./pg_command.sh slave
    volumes:
      - pg2_disk:/var/lib/postgresql/data
      - ./postgresql.conf:/etc/postgresql/postgresql.conf
      - ./repmgr2.conf:/etc/postgresql/repmgr.conf
      - ./pg_command.sh:/var/lib/postgresql/pg_command.sh
    networks:
      pg_network:
        ipv4_address: 172.16.238.101

volumes:
  pg1_disk:
  pg2_disk:

networks:
  pg_network:
    ipam:
      driver: default
      config:
        - subnet: 172.16.238.0/24